<div class="container">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{name}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col s3">
            <ul class="collection" >
                <a ng-repeat="cat in categories" ng-click="setCategory($index)" class="collection-item">{{cat}}</a>
            </ul>
        </div>
        <div class="col s9">
            <table>
                <tbody>
                    <tr ng-repeat="row in range(0,rows)">
                        <th ng-if="row < (rows-1)" ng-repeat="col in range(0,COLS)"> <a href="{{photos[COLS*row+col].url}}"><img class="materialboxed" width="100" src="{{photos[COLS*row+col].url.replace('_z.jpg','_m.jpg')}}"></a> </th>
                        <th ng-if="row == (rows-1)" ng-repeat="col in range(0,last)"> <a href="{{photos[COLS*row+col].url}}"><img class="materialboxed" width="100" src="{{photos[COLS*row+col].url.replace('_z.jpg','_m.jpg')}}"></a> </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

